@model Domain.Identity.AppRole

@{
    ViewData["Title"] = "Create role";
}

<h1>Create role</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RoleCreate">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Roles">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
