@model BLL.App.DTO.PizzaInCart

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.Views.Shared.EditShared.Edit</h1>

<h4>PizzaInCart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaTypeId" class="control-label"></label>
                <select asp-for="PizzaTypeId" class="form-control" asp-items="Model.PizzaTypeSelectList"></select>
                <span asp-validation-for="PizzaTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrustId" class="control-label"></label>
                <select asp-for="CrustId" class="form-control" asp-items="Model.CrustSelectList"></select>
                <span asp-validation-for="CrustId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeId" class="control-label"></label>
                <select asp-for="SizeId" class="form-control" asp-items="Model.SizeSelectList"></select>
                <span asp-validation-for="SizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CartId" class="control-label"></label>
                <select asp-for="CartId" class="form-control" asp-items="Model.CartSelectList"></select>
                <span asp-validation-for="CartId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
