<template>
    <h1>Index</h1>
    <p>
        <a route-href="route: sizes-create; params.bind: {}">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Price
                </th>
                <th>
                    Name
                </th>
                <th>
                    Size cm
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="size of _sizes">
                <td>
                    ${size.price}
                </td>
                <td>
                    ${size.name}
                </td>
                <td>
                    ${size.sizecm}
                </td>
                <td>
                    <a route-href="route: sizes-edit; params.bind: { id: size.id }">Edit</a> |
                    <a route-href="route: sizes-details; params.bind: { id: size.id }">Details</a> |
                    <a route-href="route: sizes-delete; params.bind: { id: size.id }">Delete</a>

                </td>
            </tr>
        </tbody>
    </table>
</template>
