<template>

    <h1>Details</h1>

    <div>
        <h4>Transport</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                Cost
            </dt>
            <dd class = "col-sm-10">
                ${_transport.cost}
            </dd>
            <dt class = "col-sm-2">
                Address
            </dt>
            <dd class = "col-sm-10">
                ${_transport.address}
            </dd>
        </dl>
    </div>
    <div>
        <a href="../Transports/Edit/e3f4d0d4-b5e9-4007-f0fd-08d7d252e506">Edit</a> |
        <a href="/#/Transports">Back to List</a>
    </div>
</template>
