<template>

    <h1>Edit</h1>

    <h4>Transport</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form submit.trigger="onSubmit($event)">
                <div class="form-group">
                    <label class="control-label" for="cost">Cost</label>
                    <input class="form-control" type="number" id="Cost" value.bind="_transport.cost" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="Address">Address</label>
                    <input class="form-control" type="text" id="Address" maxlength="256" value.bind="_transport.address" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: transports-index; params.bind: { }">Back to List</a>
    </div>

</template>
