@model BLL.App.DTO.PartyOrderInvoice

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.Views.Shared.EditShared.Edit</h1>

<h4>PartyOrderInvoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartyOrderId" class="control-label"></label>
                <select asp-for="PartyOrderId" class="form-control" asp-items="Model.PartyOrderSelectList"></select>
                <span asp-validation-for="PartyOrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceId" class="control-label"></label>
                <select asp-for="InvoiceId" class="form-control" asp-items="Model.InvoiceSelectList"></select>
                <span asp-validation-for="InvoiceId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
