<template>
    <h1>Cart</h1>
    <div if.bind="_loading" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div else>
        <h5>Pizzas and drinks in cart:</h5>
        <table class="table table-bordered table-hover">
            <thead class="bg-danger text-white">
                <tr>
                    <th>
                        Pizza
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Additional toppings
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Cost
                    </th>
                    <th class="bg-danger">

                    </th>

                </tr>
            </thead>
            <tbody>
                <tr repeat.for="pic of _cart.pizzaInCarts ">
                    <td>
                        ${pic.pizzaType.name} (€${pic.pizzaType.price})
                    </td>
                    <td>
                        ${pic.crust.name} (€${pic.crust.price}) + ${pic.size.name} (€${pic.size.price})
                    </td>
                    <td>
                        <div repeat.for="additional of pic.additionalToppings">${additional.topping.name}
                            (€${additional.topping.price})</div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm d-inline-flex" role="group" aria-label="...">

                            <button click.delegate="addQuantity(pic, null, -1)" type="button"
                                class="btn btn-warning">-</button>
                            <h5 class="d-inline-flex">&nbsp;&nbsp;${pic.quantity}&nbsp;&nbsp;</h5>
                            <button click.delegate="addQuantity(pic, null, 1)" type="button"
                                class="btn btn-warning">+</button>
                        </div>

                    </td>
                    <td  >
                        ${pic.price * pic.quantity}€
                    </td>
                    <td class="bg-warning">
                        <button click.delegate="remove(pic)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
            </tbody>
            <thead class="bg-danger text-white">
                <tr>
                    <th>
                        Drink
                    </th>
                    <th>
                        Size
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Cost
                    </th>
                    <th class="bg-danger">

                    </th>

                </tr>
            </thead>
            <tbody>
                <tr repeat.for="dic of _cart.drinkInCarts">
                    <td>
                        ${dic.drink.name}
                    </td>
                    <td>
                        ${dic.drink.size}l
                    </td>
                    <td>
                        ${dic.drink.price}€
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm d-inline-flex" role="group" aria-label="...">

                            <button click.delegate="addQuantity(null, dic, -1)" type="button"
                                class="btn btn-warning">-</button>
                            <h5 class="d-inline-flex">&nbsp;&nbsp;${dic.quantity}&nbsp;&nbsp;</h5>
                            <button click.delegate="addQuantity(null, dic, 1)" type="button"
                                class="btn btn-warning">+</button>
                        </div>

                    </td>
                    <td>
                        ${dic.price * dic.quantity}€
                    </td>
                    <td class="bg-warning">
                        <button click.delegate="remove(null, dic)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
            </tbody>
            <thead class="bg-danger text-white">
                <tr>
                    <th colspan="3"></th>
                    <th>
                        Total:
                    </th>
                    <th>
                        ${_cart.total.toFixed(2)}
                    </th>
                </tr>
                <tr class="bg-light table-borderless">
                    <td colspan="3"></td>
                    <td colspan="2">
                        <button if.bind="!_empty" click.delegate="updateQuantity()" type="button"
                            class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModalLong">
                            Order now
                        </button>

                        <div class="modal fade " id="exampleModalLong" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog " role="document">

                                <div if.bind="_loadingPayment" class="modal-content">
                                    <div class="modal-header">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div else class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title text-success" id="exampleModalLongTitle">Select payment
                                            method and pay</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Shipping address</span>
                                            </div>
                                            <input input id="_address" value.bind="_address" type="text"
                                                class="form-control" placeholder="Tallinn, Mustam2e, Akadeemia tee 7/2"
                                                aria-label="Username" aria-describedby="basic-addon1">
                                        </div>

                                        <div class="accordion" id="accordionExample">
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link" type="button"
                                                            data-toggle="collapse" data-target="#collapseOne"
                                                            aria-expanded="true" aria-controls="collapseOne">

                                                            <img src="https://99casinos.com/media/pages/visa-mastercard/2376156158-1586597263/visa-mastercard-400x-q75.png"
                                                                class="card-img-top rounded mx-auto methodIMG"
                                                                alt="...">

                                                        </button>
                                                    </h2>
                                                </div>

                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <button click.delegate="order()" type="button"
                                                            class="btn btn-success btn-lg" data-dismiss="modal">
                                                            Pay
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingTwo">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseTwo"
                                                            aria-expanded="false" aria-controls="collapseTwo">

                                                            <img src="https://png2.cleanpng.com/sh/ef1c38075dafa9e96f8a8c270c7c03f1/L0KzQYq3V8A0N51sf5H0aYP2gLBuTfxwb5CyiNNEcHHvPbF5hBFvcatmjNt4bj3lecXqjBlvNZNxjdd2LXTyh7BzjBFlNaFmkeJqbD3zfri0jP9od151eet5YXywgLBuTfluaZhqRelydHiwfn68hMFkbWkAS6IDOHTnRXAAWcQ2PmM2S6MANkK0R4a9U8UxO2Y2RuJ3Zx==/kisspng-logo-paypal-organization-bitcoin-bluem-download-paypal-png-logo-paypal-png-image-with-n-5d1ce893088dd5.7945621315621756350351.png"
                                                                class="card-img-top rounded mx-auto methodIMG "
                                                                alt="...">

                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <button click.delegate="order()" type="button"
                                                            class="btn btn-success btn-lg" data-dismiss="modal">
                                                            Pay
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingThree">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseThree"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            <img src="https://diginomica.com/sites/default/files/styles/entry_medium_mobile/public/images/2016-05/swedbank_fb.png?itok=q4iZPiVq"
                                                                class="card-img-top rounded mx-auto methodIMG "
                                                                alt="...">
                                                            <img src="http://www.ettevotlikkus.ee/wp-content/uploads/2016/02/seb_logo-300x300.png"
                                                                class="card-img-top rounded mx-auto methodIMG "
                                                                alt="...">
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <button click.delegate="order()" type="button"
                                                            class="btn btn-success btn-lg" data-dismiss="modal">
                                                            Pay
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header" id="headingThree">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link collapsed" type="button"
                                                            data-toggle="collapse" data-target="#collapseThree"
                                                            aria-expanded="false" aria-controls="collapseThree">
                                                            Cash
                                                        </button>
                                                    </h2>
                                                </div>
                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <button click.delegate="order(false)" type="button"
                                                            class="btn btn-success btn-lg" data-dismiss="modal">
                                                            Continue
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</template>
