@model PartyOrderCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@Resources.Views.Shared.CreateShared.Create</h1>

<h4>PartyOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartyOrder.Start" class="control-label"></label>
                <input asp-for="PartyOrder.Start" class="form-control" />
                <span asp-validation-for="PartyOrder.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartyOrder.End" class="control-label"></label>
                <input asp-for="PartyOrder.End" class="form-control" />
                <span asp-validation-for="PartyOrder.End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartyOrder.Address" class="control-label"></label>
                <input asp-for="PartyOrder.Address" class="form-control" />
                <span asp-validation-for="PartyOrder.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartyOrder.InviteKey" class="control-label"></label>
                <input asp-for="PartyOrder.InviteKey" class="form-control" />
                <span asp-validation-for="PartyOrder.InviteKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartyOrder.OwnerId" class="control-label"></label>
                <select asp-for="PartyOrder.OwnerId" class="form-control" asp-items="Model.AppUserSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="PartyOrder.CreatedBy" class="control-label"></label>
                <input asp-for="PartyOrder.CreatedBy" class="form-control" />
                <span asp-validation-for="PartyOrder.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartyOrder.CreatedAt" class="control-label"></label>
                <input asp-for="PartyOrder.CreatedAt" class="form-control" />
                <span asp-validation-for="PartyOrder.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartyOrder.ChangedBy" class="control-label"></label>
                <input asp-for="PartyOrder.ChangedBy" class="form-control" />
                <span asp-validation-for="PartyOrder.ChangedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartyOrder.ChangedAt" class="control-label"></label>
                <input asp-for="PartyOrder.ChangedAt" class="form-control" />
                <span asp-validation-for="PartyOrder.ChangedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
