<template>


    <h1>${langResources[appState.selectedCulture.code].login}</h1>
    <div class="row">
        <div class="col-md-6">
            <section>
                <form id="account" method="post" submit.trigger="onSubmit($event)">
                    <h4>${langResources[appState.selectedCulture.code].use}</h4>
                    <h4 if.bind="_errorMessage != null" style="color:red;">${_errorMessage}</h4>
                    <hr />
                    <div class="form-group">
                        <label for="Input_Email">${langResources[appState.selectedCulture.code].email}</label>
                        <input class="form-control" type="email" value.bind="_email" />
                    </div>
                    <div class="form-group">
                        <label for="Input_Password">${langResources[appState.selectedCulture.code].password}</label>
                        <input class="form-control" type="password" value.bind="_password" />
                    </div>
                    

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">${langResources[appState.selectedCulture.code].login}</button>
                    </div>

                </form>
            </section>
        </div>

    </div>
</template>
