@model SizeCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>@Resources.Views.Shared.CreateShared.Create</h1>

<h4>Size</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Size.Name" class="control-label"></label>
                <input asp-for="Size.Name" class="form-control" />
                <span asp-validation-for="Size.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size.Price" class="control-label"></label>
                <input asp-for="Size.Price" class="form-control" />
                <span asp-validation-for="Size.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size.SizeCm" class="control-label"></label>
                <input asp-for="Size.SizeCm" class="form-control" />
                <span asp-validation-for="Size.SizeCm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size.CreatedBy" class="control-label"></label>
                <input asp-for="Size.CreatedBy" class="form-control" />
                <span asp-validation-for="Size.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size.CreatedAt" class="control-label"></label>
                <input asp-for="Size.CreatedAt" class="form-control" />
                <span asp-validation-for="Size.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size.ChangedBy" class="control-label"></label>
                <input asp-for="Size.ChangedBy" class="form-control" />
                <span asp-validation-for="Size.ChangedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size.ChangedAt" class="control-label"></label>
                <input asp-for="Size.ChangedAt" class="form-control" />
                <span asp-validation-for="Size.ChangedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
