<template>
    <h1>${langResources[appState.selectedCulture.code].drinks}</h1>

    <div repeat.for="i of _row" class="card-group kappa3">
        <div repeat.for="y of 3">
            <div if.bind="(_drinks[3*i+y] != undefined)" class="card">
                <img src="${_drinks[3*i+y].imageUrl}" class="card-img-top kappa" alt="placeholder for image">
                <div class="card-body">
                    <h5 class="card-title">${_drinks[3*i+y].name} - ${_drinks[3*i+y].size}l</h5>
                    <p class="card-text">${langResources[appState.selectedCulture.code].placeholder}</p>

                    <button if.bind="appState.jwt != null" click.delegate="selectDrink(_drinks[3*i+y])" type="button"
                        class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                        ${langResources[appState.selectedCulture.code].chooseDrink}
                    </button>
                    <button else click.delegate="selectDrink(_drinks[3*i+y])" type="button" class="btn btn-primary"
                        >
                        ${langResources[appState.selectedCulture.code].chooseDrink}
                    </button>

                    <div class="modal fade " id="exampleModalLong" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog " role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h1 class="modal-title text-white " id="exampleModalLongTitle">
                                        ${_drinks[3*i+y].name}</h1>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body xdd">
                                    <img src="${_drink.imageUrl}"
                                        class="card-img-top kappa kappa2 rounded mx-auto d-block" alt="...">
                                    <form>
                                        <p></p>
                                        <h4 class="card-title text-primary">${_drink.price}€</h4>
                                        <h4 class="card-title">${langResources[appState.selectedCulture.code].quantity}:
                                        </h4>
                                        <div class="qty mt-5 ">
                                            <span class="minus bg-dark" click.delegate="minus()">-</span>
                                            <input type="number" class="count" name="qty" value.bind="_quantity">
                                            <span class="plus bg-dark" click.delegate="plus()">+</span>
                                        </div>

                                        <div class="form-group">
                                            <h4 class="text-primary">
                                                ${langResources[appState.selectedCulture.code].total}: ${total}€
                                        </div>
                                        <div class="modal-footer">
                                            <button click.delegate="deselectDrink" type="button"
                                                class="btn btn-secondary"
                                                data-dismiss="modal">${langResources[appState.selectedCulture.code].close}</button>

                                            <button click.delegate="addToCart($event)" type="button"
                                                class="btn btn-primary" data-dismiss="modal">
                                                ${langResources[appState.selectedCulture.code].addToCart}
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
