@model DrinkInCartCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@Resources.Views.Shared.EditShared.Edit</h1>

<h4>DrinkInCart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DrinkInCart.Quantity" class="control-label"></label>
                <input asp-for="DrinkInCart.Quantity" class="form-control" />
                <span asp-validation-for="DrinkInCart.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrinkInCart.DrinkId" class="control-label"></label>
                <select asp-for="DrinkInCart.DrinkId" class="form-control" asp-items="Model.DrinkSelectList"></select>
                <span asp-validation-for="DrinkInCart.DrinkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrinkInCart.CartId" class="control-label"></label>
                <select asp-for="DrinkInCart.CartId" class="form-control" asp-items="Model.CartSelectList"></select>
                <span asp-validation-for="DrinkInCart.CartId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="DrinkInCart.Id" />
            <input type="hidden" asp-for="DrinkInCart.CreatedAt" />
            <input type="hidden" asp-for="DrinkInCart.CreatedBy" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
